@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');

body{
    font-family: Manrope;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rouge{
    color: #FF675F;
}

.blanc {
    color: white;
}

.px14{
    font-size: 14px;
}

.px16{
    font-size: 16px;
}

.px18{
    font-size: 18px;
}

.px20{
    font-size: 20px;
}

.boiteValidation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boiteCommander{
    background-color: #FF675F;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}